<div class="footer">
    <div class="footer-logo">ONE TABLE</div>
    
    <div class="footer-text">
        <div class="sns">
            <span>
                <a href="https://www.facebook.com/DuaLipa" class="footerLinks">
                        <i class="fa-brands fa-facebook-f"></i>
                </a>
            </span>
            <span>
                <a href="https://www.instagram.com/dualipa/" class="footerLinks">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </span>
            <span>
                <a href="https://twitter.com/dualipa" class="footerLinks">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </span>
            <span>
                <a href="https://www.youtube.com/channel/UC-J-KZfRV8c13fOCkhXdLiQ" class="footerLinks">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </span>
        </div>
        <h5>팀원 - 개발담당: </h5>
        유승연 - page <a class="linkCss" href="#">(GitHub 링크)</a> <br>
        박재희 - page <a class="linkCss" href="#">(GitHub 링크)</a><br>
        김동현 - page <a class="linkCss" href="#">(GitHub 링크)</a><br>
        이미경 - page <a class="linkCss" href="#">(GitHub 링크)</a>
        
    </div>
</div>