<div class="footer-all">  
    <div class="footer">
        <div class="footer-customer-center">고객센터</div>
        <button type="button" id="customer-center"><i class="fa-solid fa-headphones"></i>   1588-1588</button>
        <button type="button" id="customer-center"><i class="fa-regular fa-comments"></i>   1:1채팅</button>
        <div>
            운영시간<br>
            전화문의 - 10:00 ~ 12:00, 13:00 ~ 17:00 / 주말 공휴일 휴무<br>
            1:1문의 - 09:00 ~ 12:00, 13:00 ~ 17:30 / 주말 공휴일 휴무
        </div>
        <div class="team-name">(주)원테이블</div>
        <div>상호 : (주)원테이블  대표자:6조  frontend-유승연, 이미경 backend- 박재희, 김동현<br>
            사업자등록번호 : 111-1111-1111  전화 : 010-2434-7902  팩스 : 010-2434-7902<br>
            주소 : 서울특별시 마포구 숭문 4길 6 4층  이메일 : djfkliwejfkdsl@naver.com
        </div>
    </div>
</div> 