<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <title>로그인</title>
    <script>
    </script>
    <style>
        @font-face {
            font-family: 'Chosunilbo_myungjo';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            font-family: 'Chosunilbo_myungjo';
        }
        
        body {
            /* 임시 */
            background-color: #795548;
            /*  */
        }
        /* 로그인 form  */
        
        h1 {
            text-align: center;
        }
        
        #loginForm {
            /*  */
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 50px 20px;
        }
        
        #loginInput {
            margin: 10px 10px 10px 30px;
            padding: 10px;
        }
        
        input {
            background-color: #EFEBE9;
            height: 50px;
            width: 300px;
            border: 0;
            border-radius: 15px;
            font-size: 15px;
            padding-left: 30px;
            margin: 20px;
        }
        
        #loginForm>form {
            /* 임시 */
            background-color: white;
            /*  */
            border-radius: 30px;
            margin-top: 100px;
            padding: 30px;
            height: 500px;
            width: 470px;
        }
        
        #loginForm label {
            margin: 30px;
            font-weight: bold;
        }
        
        label {
            margin: 20px 0;
        }
        /* pw icon */
        
        .eye {
            position: relative;
        }
        
        i {
            position: absolute;
            bottom: -100;
            right: 80px;
            margin-top: 45px;
            color: brown;
        }
        /* alert */
        
        .idAlert,
        .pwAlert {
            color: red;
        }
        /* button */
        
        .button {
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }
        
        .button button {
            border: 1px solid #A1887F;
            color: #3E2723;
            font-weight: bold;
            background-color: #ffff;
            justify-content: end;
            padding: 20px 40px;
            margin-right: 15px;
            border-radius: 10px;
        }
        
        button:hover {
            color: #EFEBE9;
            background-color: #4E342E;
        }
    </style>
</head>


<body>


    <div id="loginForm">
        <form name="fm" id="form" action="/user/login_post" method="post">
            <h1>Login</h1>
            <div id="loginInput">
                <label for="id" class="label">이메일</label><span class="idAlert"></span><br>
                <input id="id" name="id" type="email" placeholder="이메일을 입력해하세요." required><span class="pwAlert"></span><br>
                <label for="pw" class="label">비밀번호</label>
                <div class="eye">
                    <input id="pw" name="pw" type="password" placeholder="비밀번호를 입력하세요." required>
                    <i class="fa fa-eye fa-lg"></i>
                </div>
            </div>
            <div class="button">
                <button type="button" onclick="location.href='signup'">회원가입</button>
                <button type="button" onclick="login()">로그인</button>
            </div>
        </form>
    </div>


    <script>
        // id 가 빈칸일 경우
        if (id.value == "") {
            fm.id.focus();
        }
        //pw 가 빈칸일 경우
        if (pw.value == "") {
            fm.pw.focus();
        } else {

            fm.submit();
        }

        // // 비밀번호 show/hide
        $(document).ready(function() {
            $('.eye i').on('click', function() {
                $('input').toggleClass('active');
                if ($('input').hasClass('active')) {
                    $(this).attr('class', "fa fa-eye-slash fa-lg")
                        .prev('input').attr('type', "text");
                } else {
                    $(this).attr('class', "fa fa-eye fa-lg")
                        .prev('input').attr('type', 'password');
                }
            });
        });
        //로그인
        function login() {
            var form = document.fm;
            if (!form.id.value) {
                form.id.focus();
                return false;
            }
            if (!form.pw.value) {
                form.pw.focus();
                return false;
            }
            let user = {
                email: form.id.value,
                pw: form.pw.value
            }
            axios({
                method: 'post',
                url: 'http://localhost:8000/user/login',
                data: user
            }).then((rep) => {
                return rep.data;

            }).then((data) => {
                if (data == true) {
                    document.location.href = "/";
                    return true;

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '로그인 실패',
                        text: 'email과 password를 정확히 입력하세요.',
                    });
                    form.reset();
                    return false;
                }
            })

        }
    </script>
</body>

</html>