<div class="navbar">
  <div class="nav-first-floor">
    <% if( isLogin ) { %>
    <div><a class="logout" href="/user/logout">로그아웃</a></div>
    <% } else {%>
    <div><a class="sign-up" href="/user/signup">회원가입</a></div>
    <div><a class="login" href="/user/login">로그인</a></div>
    <% } %>
    
    <div><a class="customer-center" href="#">고객센터</a></div>
  </div>
  <div class="nav-second-floor">
    <div class="logo"><a href="/">ONE TABLE</a></div>
    <div class="empty"></div>
    <div>
      <a class="search" href="#"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </div>
    <div>
      <a class="good" href="#"><i class="fa-regular fa-heart"></i></a>
    </div>
    <div>
      <a class="shopping-basket" href="#"
        ><i class="fa-solid fa-cart-shopping"></i
      ></a>
    </div>
    <div>
      <a class="user" href="/user/myPage"><i class="fa-solid fa-user"></i></a>
    </div>
  </div>
  <div class="nav-third-floor">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/recipe">레시피</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">키친가이드</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">요리클래스</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">커뮤니티</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">이벤트</a>
      </li>
    </ul>
  </div>
</div>

<script>
  
</script>
