<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>oneTable 레시피</title>
    <style>
        @font-face {
            font-family: 'Chosunilbo_myungjo';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            font-family: 'Chosunilbo_myungjo';
        }
        
        ul {
            list-style: none;
        }
        
        .category_list li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #recipe {
            margin: 50px 250px 10px 250px;
            flex-direction: column;
        }
        /* 카테고리 */
        
        #recipeCategory {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 20px;
            /* 임시 */
        }
        
        .category_list>li {
            width: 80px;
            height: 50px;
            border: 1px solid gainsboro;
            padding: 0;
            flex-direction: column;
        }
        
        .category_list {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            margin-left: 20px;
        }
        
        .category_list img {
            /* 임시 */
            background-color: aqua;
            /*  */
            width: 80px;
            height: 20px;
            margin: 0;
        }
        /* 레시피 */
        
        #recipeList {
            margin-left: 60px;
        }
        
        .recipe_list {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
        }
        
        .recipe_list li {
            width: 230px;
            height: 350px;
            margin: 10px 20px;
            background-color: aliceblue;
        }
        
        .recipeImg {
            width: 230px;
            height: 250px;
            /* 임시 */
            background-color: royalblue;
        }
        
        .cookName,
        .recipeName {
            margin-top: 10px;
            padding: 0px 10px;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        /* 레시피 cook*/
        
        .cookName {
            text-align: end;
        }
        
        .cookName img {
            /* 임시 */
            background-color: aqua;
            width: 25px;
            height: 25px;
            border-radius: 50px;
        }
    </style>
</head>

<body>
    <div id="recipe">
        <div id="recipeCategory">
            <ul class="category_list">
                <li>
                    <img src="" alt="">
                    <a href="">빵</a>
                </li>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
                <li>
                    <img src="" alt="">
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <br>
        <div id="recipeList">
            <ul class="recipe_list">
                <% for (var i = 0 ; i < 20 ; i++) { %>
                    <li>
                        <div class="recipeImg">
                            <img src="" alt="">
                        </div>
                        <div class="recipeName">
                            <a href="">recipeName</a>
                        </div><br>
                        <div class="cookName">
                            <a href=""><img src="" alt="">cookName</a>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</body>

</html>