<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <!-- navbar css -->
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <!-- footer css -->
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <!-- recipeRegister css -->
    <link rel="stylesheet" type="text/css" href="/static/css/recipeRegister.css">
    <!-- 네브바 fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <title>레시피 등록</title>
    <style>

    </style>
</head>

<body>
    <%-include('navbar.ejs')%>
        <h1>Recipe Registration</h1><br>
        <div id="recipe_register" class="container">
            <div id="register">
                <div>
                    <form id="form" action="/uploads" method="POST" encType="multipart/form-data">
                        <div class="dessertPoto">
                            <div class="upload-box">
                                <div id="drop-file" class="drag-file">
                                    <img id="img" src="" alt="recipeTitleImg" name="recipe" />
                                </div>
                                <label id="imgFile" class="file-label" for="chooseFile">Choose</label>
                                <input class="file" name="myImage" id="chooseFile" type="file" onclick="imgChange()">
                            </div>
                        </div>
                        <hr>
                        <div class="nanugi">
                            <div class="recipe_name">
                                <label for="recipe_name">&#124; 레시피 명 &#124;</label>
                                <br>
                                <input id="recipe_name" name="recipeName" type="text">
                            </div>
                            <div>
                                <label for="infor">&#124; 설명 &#124;</label>
                                <br>
                                <textarea name="recipeInfor" id="infor" rows="10"></textarea>
                            </div>
                            <div>
                                <label for="category">&#124; 카테고리 &#124;</label>
                                <select name="category" id="category">
                                <option value="식빵">식빵</option>
                                <option value="천연 발효종">천연 발효종</option>
                                <option value="건강빵">건강빵</option>
                                <option value="페스츄리">페스츄리</option>
                                <option value="브래드">브래드</option>
                                <option value="구움과자">구움과자</option>
                                <option value="케이크">케이크</option>
                                </select>
                                <span id="selectCat"></span>
                            </div><br>
                            <div id="times">
                                <label for="">&#124; 시간 &#124;</label><br>
                                <div>
                                    <input name="time" type="radio" value="15"> 15분 이내
                                    <input name="time" type="radio" value="30"> 30분 이내
                                    <input name="time" type="radio" value="45"> 45분 이내
                                    <input name="time" type="radio" value="60"> 60분 이내
                                    <input name="time" type="radio" value="75"> 75분 이내
                                    <input name="time" type="radio" value="90"> 90분 이내
                                </div>
                            </div> <br>
                            <div id="difficulty">
                                <label for="">&#124; 난이도 &#124;</label><br>
                                <div>
                                    <input type="radio" name="level" value="1"> 초급
                                    <input type="radio" name="level" value="2"> 중급
                                    <input type="radio" name="level" value="3"> 고급
                                </div>
                            </div>
                        </div>

                        <!-- 보류 
                            <div>
                            <div class="nanugi">
                                 <div id="personnel">
                                    <label for="">&#124; 인원 &#124;</label><br>
                                    <div>
                                        <input type="radio" value="1"> 1인
                                        <input type="radio" value="2"> 2인
                                        <input type="radio" value="3"> 3인
                                        <input type="radio" value="4"> 4인
                                        <input type="radio" value="5"> 5인
                                        <input type="radio" value="6"> 6인 이상
                                    </div>

                                </div>
                               

                            </div>
                        </div> -->
                        <!-- <form action="/upload" method="POST" encType="multipart/form-data"> -->
                        <div class="nanugi stuff">
                            <h6>&#124; 재료 &#124;</h6>
                            <div id="append1">

                                <div class="onlytitle"><label for="stuff_itme">재료명</label> <label for="meterage">계량</label></div>
                                <ul id="stuff" class="only">

                                    <div class="stuffItem">
                                        <li class="stuff_itme"><input id="stuff_itme " name="stuff" type="text" placeholder="ex : 소금 "></li>

                                    </div>

                                    <div class="met">

                                        <li class="meterage"><input id="meterage " name="meterage" type="text" placeholder="ex : 39g"></li>

                                    </div>
                                    <div class="meterageInfor">
                                        <select name="meterageInfor" id="unit ">
                                <option value="ml">ml</option>
                                <option value="g">g</option>
                                <option value="oz">oz</option>
                                </div>
                                </select>
                                </ul>
                                </div>
                            </div>

                            <hr>
                            <div class="stuff_button">
                                <button type="button" class="add">추가 +</button>
                                <button type="button" class="remove" onclick=remote_stuff()>제거 -</button>
                            </div>
                            <hr>
                            <div class="nanugi order">
                                <h6>&#124; 순서 &#124;</h6>
                                <div id="append2">
                                    <div class="order_title">
                                        <label class="orderInfor" for="">설명</label>
                                    </div>
                                    <ul id="order_item">
                                        <div class="order_list container">
                                            <li class="order_infor">
                                                <textarea name="orderInfor" id="order_infor " rows="3" cols="30"></textarea>
                                            </li>
                                            <li class="order_img">
                                                <img id="orderImg" src="" alt="orderImg" name="steps" accept="image/*" />
                                                <input class="file" id="orderFile" type="file" name="recipeImg" onclick="imginput()">
                                            </li>
                                            <label id="File" for="orderFile">poto</label>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                    </form>
                    <div class="order_button">
                        <button type="button" id="orderadd">추가 +</button>
                        <button type="button" id="orderRemove">제거 -</button>
                    </div>


                    <hr>
                    <div class="post_button">
                        <button type="submit" onclick="newRecipe_add()">작 성</button>
                    </div>
                    <br>
                    </div>
                </div>
            </div>

            <a id="top" href="#recipeItem"><i class="fi fi-rr-chevron-double-up"></i></a>
            <%-include ('footer.ejs')%>


            <script src="/static/js/register.js"></script>
              
</body>

</html>