<!-- 
    작성자: 김동현
    레시피 등록 백엔드를 위한 폼 작성 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <form action="">
        레시피 제목 <input type="text">
        요리소개 <input type="text">
        요리 대표 사진<input type="file">
        카테고리 
        <select name="" id="">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
        </select>
        요리정보
        <select name="" id="">
            <option value="1">초급</option>
            <option value="2">중급</option>
            <option value="3">고급</option>
        </select>
        재료 <input type="text">
        amount <input type="number">
        단위 select
        <button type="button">등록하기</button>
    </form>

    <script>

    </script>
</body>
</html>
