<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>레시피 등록</title>
    <style>
        @font-face {
            font-family: 'Chosunilbo_myungjo';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            font-family: 'Chosunilbo_myungjo';
        }
    </style>
</head>

<body>
    <div id="recipe_register">
        <div id="register">
            <div>
                <form action="">
                    <div class="dessertPoto">
                        <img src="" alt="">
                    </div>
                    <div class="recipe_name">
                        <label for="recipe_name">레시피 명</label>
                        <input id="recipe_name" type="text">
                    </div>
                    <div>
                        <label for="infor">설명</label>
                        <input id="infor" type="text">
                    </div>
                    <div>
                        <label for="category">카테고리</label>
                        <select name="" id="category">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    </div>
                    <div>
                        <label for="">요리정보</label>
                        <label for="">인원</label>
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <label for="">시간 (분)</label>
                        <input type="radio">
                        <input type="radio">

                    </div>
                    <label for=""></label>
                    <input type="text">
                </form>
            </div>

        </div>
    </div>

    <script>
    </script>
</body>

</html>