@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

    body {
        font-family: 'Pretendard-Regular';
        background-color: rgb(233, 233, 233) !important;
    }
    .d-none {
        display: none;
    }

  .coursein-main {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
    background-color: white;
  }
  .coursein {
    text-align: center;
  }
  .coursein img {
    width: 30vw;
  }
  .course-name {
    font-size: 30px;
    font-weight: 600;
  }
  .course-intro {
    color: rgb(159, 159, 159);
  }
  .course-price {
    font-size: 22px;
    font-weight: 600;
    color: #71523b;
    margin: 5px 0px;
  }
  .course-apply {
    background-color: #aa8a72;
    width: 60%;
    padding: 15px 0px;
    margin: 25px auto;
    border-radius: 20px;
    border: 0px;
    color: white;
  }
/* 구분선 */
  .hihr {
    width: 90%;
    margin: 20px auto;
  }
  .coursein > span {
    margin: 10px 3px;
  }

  

  /* 수정 삭제 버튼 */
  .course-modify-delete {
    display: flex;
    justify-content: center;
  }
  .course-modify , .course-delete {
    border: 1px solid #aa8a72;
    background-color: white;
    margin: 10px;
    color: #aa8a72;
    width: 70px;
    height: 30px;
  }
  .course-modify:hover , .course-delete:hover {
    background-color: #aa8a72;
    color: white;
  }
  
  /* 기대평 */
  .expect {
    width: 80vw;
    margin: 20px auto;
    background-color: white;
  }
  .expect-in {
    width: 80%;
    margin: 10px auto;
    padding: 15px 0px;
  }
  .expect-in div:first-child {
    font-size: 25px;
    font-weight: 600;
  }

  /* 기대평 테이블 */
  .expect-table {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    margin: 10px 0px;

  }
  .expect-table td {
    padding: 30px 5px;
    border-top: 1px solid gray ;
    border-bottom: 1px solid gray ;
  }
  .expect-table td:last-child {
    position: relative;
  }
  .expect-table td:first-child {
    width: 10%;
  }
  .expect-table td:nth-child(2) {
    width: 10%;
    font-size: 20px;
    font-weight: 600;
    color: gray;
  }
  .expect-table td:nth-child(3) {
    width: 65%;
    font-weight: 600;
  }
  .expect-table td:nth-child(4) {
    text-align: right;
  }
  .profileImg {
    width: 70px;
    height: 70px;

  }
  .profileImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .start {
    border: 0;
    background-color: white;
  }
  .ellipsis-vertical {
    position: absolute;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    width: 100px;
    text-align: center;
    padding-bottom: 10px;
  }
  .comment-mod , .comment-del {
    color: rgb(156, 156, 156);
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    width: 100%;
    border: 0;
  }
  .comment-mod:hover {
    background-color: rgb(210, 210, 210);
    color: black;
  }
  .comment-del:hover {
    background-color: rgb(210, 210, 210);
    color: black;

  }
  /* loadbtn */
  .correct-btn , .cancel-btn {
    border: 1px solid rgb(140, 140, 140);
    background-color: white;
    height: 50%;
    width: 100%;
    
  }
  #loadBtn {
    width: 15%;
  }



  /* input 창 */
  #expect {
    width: 85%;
    height: 100px;
    border: 1px solid rgb(158, 158, 158);
  }
  #registerBtn {
    width: 15%;
    border: 1px solid rgb(140, 140, 140);
    background-color: white;
  }

  .expect-comment {
    display: flex;
  }