    /* 전체 width */
    body {
      background-color: rgb(235, 235, 235) !important;
    }
    .cooking-class {
        width: 80vw;
        margin: 20px auto;
        background-color: white;
      }
      .cooking-class-title {
        font-size: 30px;
      }
  
      .post-slider {
        position: relative;
        width: 85%;
        margin: 0 auto;
        border: 1px solid red;
      }
  
      .post-slider .post-wrapper {
        margin: 0px auto;
        height: 300px;
      }
  
      .post-slider .post-wrapper .post {
        /* width:300px; */
        /* height:350px; */
        display: inline-block;
      }
      .post>a,
      .post>a>img {
        width: 100%;
        height: 100%;
        padding: 4px;

      }
  
      /* first floor slide button */
      .slick-prev,
      .slick-next {
        border: 0px;
        background-color: white;
      }
  
      #prev-button,
      #next-button {
        font-size: 25px;
        background-color: white;
        border: 0px;
      }
  
      .slick-prev {
        position: absolute;
        left: -50px;
        top: 45%;
      }
  
      .slick-next {
        position: absolute;
        right: -50px;
        top: 45%;
      }
  
      .post>a {
        position: relative;
      }
  
      .post > a > div {
        position: absolute;
        width: 100vw;
      }
      .course-list {
        border: 1px dotted red;
      }
      .course-list-item {
        width: 150px;
        height: 300px;
      }
      .course-list-item > a > img {
        width: 100%;
      }