@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}    
    
    /* 전체 width */
    body {
      background-color: rgb(235, 235, 235) !important;
      font-family: 'Pretendard-Regular' !important;
    }
    .cooking-class {
        width: 80vw;
        margin: 20px auto;
        background-color: white;
      }
      .cooking-class-title {
        font-size: 30px;
      }
  
      .bestCourse {
        width: 85%;
        margin: 0 auto;
        /* border: 1px solid red; */
        overflow: hidden;
        display: flex;
      }
      .score {
        width: 40px;
        height: 30px;
        margin: 10px;
      }

      .post {
        width: 20vw;
        height: 300px;
        text-align: center;
      }

      .post .bestCourseImage {
        width: 300px;
        height: 300px;
      }


  
      /* first floor slide button */ 
      .course-list-item a {
        color: black;
      }
      .course-list-item {
        position: relative;
        width: 150px;
        height: 300px;
      }
      .course-list-item {
        height: 300px;
      }
      .course-list-item > a > div img {
        width: 100%;
      }
      .bestcourseName {
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: left;
        padding: 5px;
      }
      .course-list > div:first-child {
        text-align: right;
      }
      #apply-button {
        border: 0px;
        padding: 2px 20px;
        border-radius: 10px;
      }

      /* course list  */
      .course-ab {
        position: absolute;
      }

      /* 좋아요 버튼 위치 지정 */
      .course-list-item {
        position: relative;
      }

      .heart {
        position: absolute;
        top: 0px;
      }