@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}    
    
    /* 전체 width */
    body {
      background-color: rgb(235, 235, 235) !important;
      font-family: 'Pretendard-Regular' !important;
    }
    .cooking-class {
        width: 80vw;
        margin: 20px auto;
        background-color: white;
        padding: 18px 20px;
        position: relative;
      }
      .cooking-class-title {
        font-size: calc(0.75em + 2vw);
        font-weight: 600;
      }

      .bestCourse {
        width: 85%;
        margin: 0 auto;
        height: 450px;
        /* border: 1px solid red; */
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
      .score {
        width: 40px;
        height: 30px;
        margin: 7px auto;
      }

      .post {
        width: 20vw;
        text-align: center;
        overflow: hidden;
        margin: 0px 5px;
      }
      .post a {
        text-decoration: none;
        color: black;
      }

      .post .bestCourseImage {
        width: 300px;
        height: 300px;
      }
      .left-button , .right-button {
        border: 0.8px solid gray;
        border-radius: 50%;
        padding: 15px;
        background-color: white;
        color: gray;
        display: none;
      }
      .left-button {
        position: absolute;
        top: 50%;
        left: 10px;
      }
      .right-button {
        position: absolute;
        top: 50%;
        right: 10px;
      }

      /* select box */
      .course-select {
        padding: 17px 0px;
      }
      select {
        padding: 5px 8px;
        border-radius: 10px;
      }


  
      /* first floor slide button */ 
      .course-list {
        background-color: white;
        width: 80vw !important;
        margin: 15px auto;
      }
      .course-list-item a {
        color: black;
      }
      .course-list-item {
        position: relative;
        width: 150px;
        height: 300px;
      }
      .course-list-item {
        height: 300px;
      }
      .course-list-item > a > div img {
        width: 100%;
      }
      .bestcourseName {
        background-color: rgb(255, 255, 255);
        width: 100%;
        /* text-align: left; */
        padding-left: 5px;
      }
      .bestcoursePrice {
        background-color: rgb(255, 255, 255);
        width: 100%;
        /* text-align: left; */
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
      }
      .bestcoursePrice > span {
        font-weight: 400;
        font-size: 16px;
      }
      .course-list > div:first-child {
        text-align: right;
      }
      #apply-button {
        border: 1px solid gray;
        background-color: white;
        padding: 4px 20px;
        border-radius: 10px;
      }
      #course-register-btn {
        border: 1px solid gray;
        background-color: white;
        padding: 4px 20px;
        border-radius: 10px;
        margin: 5px;
      }

      /* course list  */
      .course-ab {
        position: absolute;
      }
      .course-ab div:first-child {
        padding: 5px;
      }
      .course-ab div:last-child {
        padding: 5px;
        font-size: 18px;
        font-weight: 600;
      }

      /* 좋아요 버튼 위치 지정 */
      .course-list-item {
        position: relative;
        height: 400px;
      }

      .heart {
        position: absolute;
        top: 2px;
        left: 13px;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
      }
      .heartSolid {
        color: red !important;
      }



      @media (max-width: 640px) { 
        .course-list-item {
          height: 323px;
        }
      }
      @media (max-width: 420px) { 
        .course-list-item {
          height: 250px;
        }
      }

      /* best course image */
      @media (max-width: 900px) { 
        .bestCourse {
          height: auto;
        }
        .container {
          width: 100% !important;
        }
        .post .bestCourseImage {
          height: 200px;
        }
        .cooking-class {
          width: 100%;
        }
      }
      @media (max-width: 500px) {
      .post .bestCourseImage {
          height: 40vh;
      }
      .post .bestCourseImage {
        width: 300px;
        height: 300px;
      }
      .bestCourse {
        display: block;
        height: 400px;
      }
      .score {
        display: block;
      }
      .post {
        text-align: center;
        width: auto;
      }
      .post > img {
        text-align: center;
      }
      }
      