.footer-all {
    /* border-top: 2px solid #e6e6e6; */
    font-size: 13px;
    padding: 15px 10px;
    background-color: white;
}
.footer {
    width: 80vw;
    margin: 10px auto;
}
.footer-customer-center {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

#customer-center {
    width: 180px;
    height: 50px;
    background-color: white;
    border: 1px solid #999999;
    transition: 0.5s;
}
#customer-center:hover {
    background-color: #aa8a72;
    color: white;
}
.team-name {
    font-weight: bold;
    margin-top: 15px;
}