
/* 플로어별 간격 주기 */
.king {
    width: 80vw;
}

#carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
}
/* 슬라이드 height값 지정해서 overflow hidden */
.slick-list {
    height: 250px;
    /* width: 100%;
    overflow: hidden; */
}

/* first-floor */
.main-first-floor {
    margin: 50px auto;
}
.post-slider{
    position: relative;
  }
  .post-slider .post-wrapper{
    margin:0px auto;
  }
  .post-slider .post-wrapper .post{
    /* width:300px; */
    /* height:350px; */
    display:inline-block;
  }
  .post a {
    height: 100%;
  }
  .post a div {
    width: 150px;
  }
  
  /* first floor slide button */
  .post-slider {
    border: 1px dotted red;
  }
  .post-wrapper {
    border: 1px dotted blue;
  }
  .post {
    border: 1px dotted blueviolet;
  }
  .slick-prev , .slick-next {
    border: 0px;
    background-color: rgb(255, 255, 255);
  }
  #prev-button , #next-button {
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border: 0px;
  }
  .slick-prev {
    position: absolute;
    left: -50px;
    top: 45%;
  }
  .slick-next {
    position: absolute;
    right: -50px;
    top: 45%;
  }
.main-best-recipe {
    font-family: 'Chosunilbo_myungjo';
    text-align: center;
    font-size: var(--main-font-size);
}
.main-best-recipe-more {
    text-align: right;
    margin: 15px 0px;
}
.main-best-recipe-more > a {
    text-decoration: none;
    color: black;
} 

/* second-floor 베스트 클래스 */

.main-second-floor {
    margin: 50px auto;
    display: flex;
}
#main-best-class-a {
    text-decoration: none;
    color: black;
}
.second-slider{
    width: 80%;
    /* position: relative; */
    /* flex-grow: 1; */
    /* overflow: hidden; */
  }
  .second-slider .second-wrapper .second {
    /* width:300px; */
    /* height:350px; */
    display: inline-block;
  }
  .second > a , .second > a > img {
    width: 100%;
    height: 100%;
  }
  .second > a > img {
    padding: 4px;
  }
/* .main-second-floor > div , {
    width: 25%;
    height: 250px;
    margin: 10px;
} */
/* .main-second-floor > a:nth-child(2) , .main-second-floor > a:nth-child(3) , .main-second-floor > a:nth-child(4)  {
    background-color: rgb(255, 173, 72);
    margin: 10px;
} */
.main-best-class {
    width: 20vw;
    font-family: var(--main-font-family);
    font-size: var(--midium-font-size);
    margin-top: 8%;
}
.main-best-class-more {
    margin-top: 10px;
}
/* second floor slide button */
.second-wrapper .slick-prev , .second-wrapper .slick-next {
    border: 0px;
    background-color: white;
  }
  #second-prev-button , #second-next-button {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
  }
  .second-wrapper .slick-prev {
    position: absolute;
    left: -20px;
    border: 1px solid #999;
    top: 40%;
    z-index: 10;
  }
  .second-wrapper .slick-next {
    position: absolute;
    right: -20px;
    top: 40%;
  }

/* 3.third-floor */
.main-third-floor {
    margin: 50px auto;
}
/* .main-third-floor-contents {
    display: flex;
}
.main-third-floor-contents > a {
    width: 25%;
    height: 250px;
} */
.main-kitchen-guide {
    font-family: 'Chosunilbo_myungjo';
    text-align: center;
    font-size: var(--main-font-size);
}
.main-kitchen-guide-more {
    text-align: right;
    margin: 15px 0px;
}
.main-kitchen-guide-more > a {
    text-decoration: none;
    color: black;
} 

/* fourth-floor */

.main-fourth-floor {
    display: flex;
    margin: 50px auto;
}
/* .main-fourth-floor > a , .main-fourth-floor> div {
    width: 25%;
    height: 250px;
    margin: 10px;
} */
.main-event {
    width: 20vw;
    font-family: var(--main-font-family);
    font-size: var(--midium-font-size);
    margin-top: 8%;
}
#main-event-a {
    text-decoration: none;
    color: black;
}
.main-event-more {
    margin-top: 10px;
}

.main-fourth-floor > a:nth-child(2) , .main-fourth-floor > a:nth-child(3) , .main-fourth-floor > a:nth-child(4)  {
    border-radius: 60%;
    background-color: rgb(146, 206, 152);
    margin: 10px;
}
@media (max-width: 970px) { 
  #carouselExampleIndicators {
    width: 100%;
  }
}
@media (max-width: 605px) { 
  .main-second-floor {
    display: block;
}
}