@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Chosunilbo_myungjo';
}

h1 {
    text-align: center;
    color: brown;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

label {
    font-weight: bold;
}

ul {
    list-style: none;
}

hr {
    border: 1px solid gray;
}

#view>a {
    text-decoration: none;
}


/* profile  */

#mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    width: 50%;
}


/* profile image */


/* 프로필 업로드 */

.profileImg {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#img {
    position: absolute;
    width: 150px;
    height: 150px;
}

.upload-box .drag-file {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}

.upload-box .drag-file.highlight {
    border: 3px dashed red;
}

.upload-box .drag-file .image {
    width: 40px;
}

.file {
    display: none;
}


/* user */

.userInfor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    width: 200px;
}

.userInfor>input {
    background-color: #EFEBE9;
    border: 0;
    padding-left: 10px;
}

.button {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button button,
.button label {
    background-color: #D7CCC8;
    width: 45%;
    border: 0;
    margin-top: 20px;
    font-weight: bold;
}


/* view */

#view {
    display: flex;
    justify-content: center;
    align-items: center;
}

#view>a {
    padding-top: 20px;
    color: brown;
}


/* review item */

#Review {
    display: flex;
    flex-direction: column;
}

#Review>.reviewItem,
#Review>.courseReviewItem {
    background-color: #D7CCC8;
    height: 100px;
    width: 100%;
}

.reviewTitle,
.myReview {
    font-weight: bold;
}

#ReviewComment {
    margin: 10px 20px;
}

#ReviewComment>a {
    text-decoration: none;
    color: black;
}

.reviewComment {
    padding-bottom: 10px;
    overflow-y: scroll;
}

.reviewHr {
    border: 1px solid #3E2723;
    margin: 1px 0;
}


/* 모든 페이지 css 조정 */

.userLikes li,
.likeClass li,
.myrecipe li,
.myClass li,
.appClass li {
    /* 임시 */
    background-color: #EFEBE9;
    /*  */
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.myrecipeItem,
.userLikesItem,
.likeClassItem,
.myClassList,
.appClassItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myrecipeItem a,
.userLikesItem a,
.likeClassItem a,
.myClassList a,
.appClassItem a {
    text-decoration: none;
}

.myrecipeItem img,
.userLikesItem img,
.likeClassItem img,
.myClassList img,
.appClassItem img {
    position: absolute;
    width: 200px;
    height: 200px;
}

.myrecipeItem span,
.userLikesItem span,
.likeClassItem span,
.myClassList span,
.appClassItem span {
    position: absolute;
    padding-top: 90px;
    text-align: center;
    font-weight: bold;
    color: #ffff;
    width: 200px;
    height: 200px;
    opacity: 0;
}

.item a:hover span {
    transform: scale(1.5);
    transition: transform 1s;
    opacity: 0.5;
}

.item a:hover img {
    transition: transform 1s;
    filter: brightness(20%);
    background-color: #3E2723;
}


/* top button */

#top {
    position: fixed;
    right: 40px;
    bottom: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #D7CCC8;
    color: #3E2723;
    width: 45px;
    height: 15px;
    padding: 10px 0 30px;
    border-radius: 50px;
}


/* mypage*/

.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item .itemList {
    /* 임시 */
    background-color: #3E2723;
    /*  */
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}

.item::after {
    display: none;
}

.item .active {
    display: block;
}