@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Chosunilbo_myungjo';
}

h1 {
    text-align: center;
    color: brown;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

label {
    font-weight: bold;
}

ul {
    list-style: none;
}

hr {
    border: 1px solid gray;
}

#view>a {
    text-decoration: none;
}


/* profile  */

#mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile {
    width: 50%;
}


/* profile image */


/* 프로필 업로드 */

.profileImg {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#img {
    position: absolute;
    width: 150px;
    height: 150px;
}

.upload-box .drag-file {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}

.upload-box .drag-file.highlight {
    border: 3px dashed red;
}

.upload-box .drag-file .image {
    width: 40px;
}

.file {
    display: none;
}


/* user */

.userInfor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    width: 200px;
}

.userInfor>input {
    background-color: #EFEBE9;
    border: 0;
    padding-left: 10px;
}

.button {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button button,
.button label {
    background-color: #D7CCC8;
    width: 45%;
    border: 0;
    margin-top: 20px;
    font-weight: bold;
}


/* view */

#view {
    display: flex;
    justify-content: center;
    align-items: center;
}

#view>a {
    padding-top: 20px;
    color: brown;
}

ㅎ
/* review */


/* userlike */

.userLikes li,
.likeClass li {
    /* 임시 */
    background-color: #EFEBE9;
    /*  */
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}


/* likeclass */


/* myrecipe */


/* myclass */


/* appClass */


/* top button */

#top {
    position: fixed;
    right: 40px;
    bottom: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #D7CCC8;
    color: #3E2723;
    width: 45px;
    height: 15px;
    padding: 10px 0 30px;
    border-radius: 50px;
}


/* mypage*/

.item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item .itemList {
    /* 임시 */
    width: 200px;
    height: 100px;
    background-color: #3E2723;
    /*  */
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}

.item::after {
    display: none;
}

.item .active {
    display: block;
}