@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


:root {
    --main-font-size: calc(0.75em + 4vw);
    --midium-font-size: calc(0.75em + 3vw);
    --main-font-family: 'Chosunilbo_myungjo';
    --sub-font-family: 'Noto Sans KR';
}
body {
    padding-top: 154px !important;
}

.navbar {
    text-align: center;
    border-bottom: 2px solid rgb(236, 236, 236);
    position: fixed !important;
    background-color: white;
    padding: 0px;
    z-index: 10;
    top: 0;
    width: 100%;
}
.nav-first-floor {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.nav-first-floor > div {
    margin: 0px 10px;
}
.nav-first-floor > div > a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.nav {
    list-style: none;
    display: flex;
}
.nav > li {
    margin: 5px 20px;
}
.nav > li > a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
.nav {
    padding-left: 0px;
}
.logo {
    width: 100px;
}
.empty {
    width: 70%;
}
.nav-second-floor {
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.nav-second-floor > div {
    margin: 20px 15px;
}
.nav-second-floor > div > a {
    text-decoration: none;
    color: black;
}
.nav-third-floor {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    font-size: calc(0.1em + 0.9vw);
}
body a:hover {
    color: brown;
}

/* 로그인 로그아웃  */
.d-none {
    display: none;
}

@media (max-width: 790px) { 
    .nav > li {
        margin: 0px;
    }

}