@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Chosunilbo_myungjo';
}

ul {
    list-style: none;
    flex-wrap: wrap;
}

ul li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#recipe {
    margin: 50px 250px 10px 250px;
    flex-direction: column;
}

#page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#page_title h1 {
    font-weight: bold;
}


/* 카테고리 */

.category_list {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.category_list>form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.category_list>form li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    width: 150px;
    height: 80px;
    font-weight: bold;
    text-align: center;
}

label {
    cursor: pointer;
    text-align: center;

}

.category {
    border: 0;
    font-weight: bold;
    background-color: white;
    display: none;
}

#categoryList li:hover {
    color: #4d2822;
}



/* bar */

#bar+h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

#bar {
    text-align: end;
}


/* 좋아요 순 */

#bar>label,
#newRecipe {
    background-color: #D7CCC8;
    text-align: center;
    color: #3E2723;
    padding: 6px 15px;
    border-radius: 10px;
}

#like {
    display: none;
}

#newRecipe {
    text-decoration: none;
    background-color: #D7CCC8;
    text-align: center;
    color: #3E2723;
    padding: 10px 10px;
    border-radius: 10px;
}


/* view */

#view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#view>a {
    font-size: 20px;
    padding: 20px;
    color: brown;
}

#view>a {
    text-decoration: none;
}

.button {
    border: 0;
    margin-top: 20px;
    font-weight: bold;
}


/* 레시피 */

.recipeItem {
    position: relative;
}

#recipeList {
    margin-top: 20px;
}

.recipe_list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}
.recipe_list.active{
    margin-right: 20px;
}
.recipe_list li {
    width: 230px;
    height: 350px;
    margin: 10px 0;
    margin-right: 100px;
    /*  */
    background-color: #D7CCC8;
}

.recipeImg>img {
    width: 230px;
    height: 230px;
}

.cookName,
.recipeName,
.recipeintro {
    margin-top: 10px;
    padding: 0px 10px;
}

.recipeName {
    font-weight: bold;
}

ul a {
    text-decoration: none;
    color: black;
}


/* 레시피 cook*/

.cookName {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
}

.cookName img {
    /* 임시 */
    background-color: #3E2723;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50px;
}


/* top */

#top {
    position: fixed;
    right: 40px;
    bottom: 30px;
    text-decoration: none;
    text-align: center;
    background-color: #D7CCC8;
    color: #3E2723;
    width: 45px;
    height: 15px;
    padding: 10px 0 30px;
    border-radius: 50px;
}


/* 더보기 */

.recipe_list {
    display: flex;
    flex-wrap: wrap;
}

.recipe_list>.recipeItem {
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}

.recipe_list::after {
    display: none;
}

.recipe_list .active {
    display: block;
}